<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @paragraph.content %>
</p>

<p>
  <b>Page:</b>
  <%= @paragraph.order_number %>
</p>


<%= link_to 'Edit', edit_paragraph_path(@paragraph) %> |
<%= link_to 'Back', paragraphs_path %>
